.navbar{
    display: flex;
    flex-direction: row;
    background-color: azure;
    height: var(--navbar-height);
    align-items: center;
    padding: 0px 10px 0px 10px;
}
.navbar ul{
    display: flex;
    flex-direction: row;
    column-gap: 50px;
}
.navbar h3{
    margin-left: 20px;
    margin: 0;
}