:root {
  --navbar-height: 40px;
  --main-margin: 40px;
}
.App{
  background-color: rgb(61, 61, 61);
  height: 100vh;
}
.App ul{
  margin: 0px;
  list-style: none;
}
.main{
  margin: var(--main-margin);
  display: flex;
  flex-direction: row;
  column-gap: 50px;
  height: calc(96% - var(--navbar-height) - var(--main-margin));
}
